POSTGRES_USER=viaverse
POSTGRES_PASSWORD=viaverse
POSTGRES_DB=viaverse
POSTGRES_PORT=5432

VALKEY_PORT=6379
KAFKA_PORT=9092

MAILPIT_SMTP_PORT=1025
MAILPIT_UI_PORT=8025

MINIO_ROOT_USER=viaverse
MINIO_ROOT_PASSWORD=viaverse-local-secret
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

OTEL_GRPC_PORT=4317
OTEL_HTTP_PORT=4318
PROMETHEUS_PORT=9090
OPENSEARCH_PORT=9200

